$textColor:white;
$primaryColor: #1b1c1d;
$secondaryColor:#0780d6;

$inputBackground:hsl(0, 0%, 14%);
$inputBorder:hsl(0, 0%, 5%);
$inputColor:#cdcdd1;

$elementsBackground:lighten($color: $primaryColor, $amount: 5);