@import "./colors";

@font-face {
	font-family: Inconsolata;
	src: url("@/assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf");
}

* {
	font-family: Inconsolata;
}


body {
	margin:0px;
	border:none;
	padding:0px;
	color:$textColor;
	background-color: $primaryColor;
}

/********************/
/*** GLOBAL STYLE ***/
/********************/
button, input, textarea, select, a.button{
	display: block;
	background-color: $inputBackground;
	color: $inputColor;
	border: 1px solid $inputBorder;
	padding: 8px 7px;
	font-size: 16px;
	box-sizing: border-box;
	margin: 2px 0px;
	border-radius: 5px;
	line-height: 1.5;

	&:active, &:focus, &:focus-visible {
		outline:1px solid $secondaryColor;
	}
}

/********************/
/** TEXTAREA STYLE **/
/********************/
textarea {
	resize: none;
}

/********************/
/*** BUTTON STYLE ***/
/********************/
button, input[type="submit"], select, a.button {
	cursor: pointer;
	transition:color .5s, background .5s;
	text-align: center;

	&:hover {
		background-color: lighten($color: $inputBackground, $amount: 10);
		color: lighten($color: $inputColor, $amount: 25);
	}
}


/********************/
/** CHECKBOX STYLE **/
/********************/
input[type="checkbox"], input[type="radio"]{
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

	& + label {
		display: grid;
		grid-template-columns: min-content auto;
		grid-gap: 3px;
		nav-index: auto;
		cursor:pointer;
	}

	& + label::before {
		content:" ";
		background:$inputBackground;
		border: 1px solid $inputBorder;

		display: inline-block;
    	vertical-align: middle;
		line-height: normal;
		text-align: center;
		
		font-family: serif;

		width:1.05em;
		height:1.05em;

		border-radius: .2em;
		cursor: pointer;
	}

	&:checked + label::before {
		background-color: $secondaryColor;
		content:"\2714";
	}

	&:focus + label::before{
		outline: 1px solid $secondaryColor;
	}
}

input[type="radio"] {
	& + label::before {
		border-radius: 100%;
		line-height: 110%;

		@-moz-document url-prefix() {
			line-height: 170%;
			font-size: 0.5em;
			height: 2em;
			width: 2em;
		}
	}

	&:checked + label::before{
		content:"\2B24";
	}
}

/********************/
/*** RANGE STYLE ****/
/********************/
input[type="range"]{
	-webkit-appearance: none;
	background-color: transparent;
	border:none;
	cursor: pointer;

	&::-moz-range-progress,
	&::-webkit-progress-value {
		background:$secondaryColor;
		height:3px;
	}

	&::-moz-range-thumb,
	&::-webkit-slider-thumb {
		border-radius: 100%;
		background: $secondaryColor;
		border: 1px solid $primaryColor;
	}

	&::-webkit-slider-thumb {
		margin-top:-6px;
	}

	&::-moz-range-track {
		background:$inputColor;
		height:3px;
	}

	&::-webkit-slider-runnable-track {
		background: $inputColor;
		height: 3px;
		border-radius: 3px;
	}
}

/********************/
/**** LINK STYLE ****/
/********************/
a {
	text-decoration: none;
	color: $linkColor;
	transition: color .5s;

	&:hover {
		color: darken($color: $linkColor, $amount: 15)
	}
}